---
layout: layouts/home.njk
---


  <script>
    function submitForm() {
  const card1 = document.getElementById('card1').value
  const card2 = document.getElementById('card2').value
  const card3 = document.getElementById('card3').value
  const card4 = document.getElementById('card4').value
  const card5 = document.getElementById('card5').value
  const ids = [card1, card2, card3, card4, card5]

  checktotals(ids).then(totalScore => {
    document.getElementById('result').innerHTML = `Total score: ${totalScore}`
  }).catch(error => {
    document.getElementById('result').innerHTML = error.message
  })

  return false
}
  </script>

  <form onsubmit="return submitForm()">
    <label for="card1">Card 1:</label>
    <input type="text" id="card1" name="card1"><br>
    <label for="card2">Card 2:</label>
    <input type="text" id="card2" name="card2"><br>
    <label for="card3">Card 3:</label>
    <input type="text" id="card3" name="card3"><br>
    <label for="card4">Card 4:</label>
    <input type="text" id="card4" name="card4"><br>
    <label for="card5">Card 5:</label>
    <input type="text" id="card5" name="card5"><br>
    <input type="submit" value="Submit">
  </form>
  <p id="result">0</p>
  